.container {
  max-width: 1000px;
  padding: 0 2rem;
  margin: auto;
}

@media (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* padding: 1rem; */
  box-sizing: border-box;
  margin: auto;
  /* width: 70%; */
}

header a {
  font-size: 1.1rem;
  font-family: Archivo, sans-serif;
}

header a:hover {
  color: rgb(139, 139, 139);
}

.bouton-stylise{
  font-size: 1.1rem;
  border: 4px solid white; /* Bordure blanche */
  border-radius: 12px; /* Bords arrondis */
  color: white; /* Couleur du texte */
  font-weight: 400;
  padding: 10px 20px; /* Espacement intérieur */
  text-align: center; /* Alignement du texte */
  text-decoration: none; /* Pas de décoration pour le texte */
  font-family: Archivo, sans-serif;
  margin:1px;
  white-space: normal;
  background: linear-gradient(to right, #FD7900, #FFC700); /* Dégradé linéaire */
  /* width : auto; */
  /* box-sizing: border-box; */
    display: inline-block;
  /* display: block;  */
  /* cursor: pointer; Type de curseur */
  /* transition: all 0.3s ease; Transition pour les effets de survol */
}
.bouton-stylise a{
  color: white;
  text-decoration: none;
  font-weight : 500;
}

 .bouton-stylise i {
  margin-left: 5px; /* Ajoute un espace de 5px à gauche de l'icône */
}
header .bouton-stylise{
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /* Ombre avec 20% d'opacité */
 /* background: linear-gradient(to right, #4CB232, #64d847); Dégradé linéaire */
}
header .bouton-stylise:hover {
  color: #FFF39D; /* Couleur du texte */
}

#logo-cpc-end {
  height: 8rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: #242424;
}

#menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Section styles */
section {
  font-family: Archivo, sans-serif;
  color: #242424;
  /* margin: 1rem auto; */
  padding: 2rem 0;
  overflow: hidden;
  display: block;
}

h1,
h2,
h3,
h4 {
  font-family: Archivo, sans-serif;
  color: #242424;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
  color: #1E4FFF;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.15;
}

h4 {
  font-size: 2rem;
  font-weight: 300;
  color: #8a8a8a;
  line-height: 1;
  margin-bottom: 0.5rem;
}

@media (max-width: 980px) {

  header {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 90%; */
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav li {
    text-align: center;
    margin: 10px 0;
    padding : 5px;
  }

  #menu-icon {
    display: block;
  }

  #menu-navbar {
    flex-basis: 100%;
    flex-grow: 1;
    margin-bottom: 1rem;
  }

  #logo-cpc {
    height: 3rem;
  }



  }


/* section racontez votre histoire */

section.section-racontez .text {
  width: auto !important;
}

section.section-racontez .image {
  max-width: 330px;
  margin: auto;
}

section.section-racontez .image img {
  width: 100%;
}

@media (min-width: 690px) {
  section.section-racontez .image {
    max-width: unset;
    width: 50%;
    float: right;
  }
}


/* section investissement */

.section-investissement{
  background-image: linear-gradient(to bottom right, #0032A6, #2869FF); 
  color: white;
}

section.section-investissement .text {
  width: auto !important;
}

section.section-investissement .image {
  max-width: 240px;
  margin: auto;
}

section.section-investissement .image img {
  width: 100%;
}

section.section-investissement .bouton-stylise{
  margin:3rem auto auto auto;
    display:block;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.30); /* Ombre avec 20% d'opacité */
  /* background: linear-gradient(to right, #065BDD, #0BB6FF); Dégradé linéaire */
}


@media (min-width: 499px) {
  section.section-investissement .image {
    max-width: unset;
    width: 38%;
    float: right;
  }
}
/* section autres investissements */

section.section-autres .bouton-stylise{
  margin:3rem auto 1rem auto;
  display:block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /* Ombre avec 20% d'opacité */
 }

/* small screen */
@media (max-width: 411px) {

  section.section-autres .container-right,
  section.section-autres .container-left {
    display: block !important;
  }

  section.section-autres .text {
    width: 100%;
  }

  section.section-autres .image {
    width: 100%;
    padding: 1rem;
    
    margin: 0 auto 1rem auto;
  }

  section.section-autres .image img {
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 749px) and (min-width: 411px) {

  section.section-autres .container-right,
  section.section-autres .container-left {
    display: block !important;
  }

  section.section-autres .text {
    width: 100%;
  }

  section.section-autres .image {
     max-width: 70%;
    width: 100%;
    padding: 1rem;
    
    margin: 0 auto 1rem auto;
  }

  section.section-autres .image img {
    width: 100%;
    object-fit: contain;
  }
}

/* large screen */
@media (min-width: 750px) {
  
  section.section-autres .container-left {
    flex-direction: row !important;
  }
  
  section.section-autres .container-right {
    flex-direction: row-reverse !important;
  }

  section.section-autres .text {
    max-width: 800px;
    width: 70%;
  }

  section.section-autres .image {
    width: 430px;
    max-width: 30%;
  }

  section.section-autres .image img {
    width: 100%;
    object-fit: contain;
    max-height: 330px;
  }
}


/* section talents */

/* small screen */
@media (max-width: 411px) {

  section.section-talents .container-right,
  section.section-talents .container-left {
    display: block !important;
  }

  section.section-talents .text {
    width: 100%;
  }

  section.section-talents .image {
    max-width: 70%;
    width: 100%;
    padding: 1rem;
    
    margin: 0 auto 1rem auto;
  }

  section.section-talents .image img {
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 599px) and (min-width: 411px) {

  section.section-talents .container-right,
  section.section-talents .container-left {
    display: block !important;
  }

  section.section-talents .container-right .image {
    float: right;
  }

  section.section-talents .container-left .image {
    float: right;
  }

  section.section-talents .text {
    width: 100%;
  }

  section.section-talents .image {
    max-width: 36% ; 
    width: 36% ;
    padding: 1rem;
  }

  section.section-talents .image img {
    width: 100%;
    object-fit: contain;
  }
}

/* large screen */
@media (min-width: 600px) {
  
  section.section-talents .container-left {
    flex-direction: row !important;
  }
  
  section.section-talents .container-right {
    flex-direction: row-reverse !important;
  }

  section.section-talents .text {
    max-width: 440px;
    width: 70%;
  }

  section.section-talents .image {
    width: 430px;
    max-width: 40%;
  }

  section.section-talents .image img {
    width: 100%;
    object-fit: contain;
    max-height: 330px;
  }
}


/* section concept */
section.section-concept h3{
  color: #FF6B00;
}

section.section-concept .phases{
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
}

section.section-concept .bouton-stylise{
 margin:3rem auto 1rem auto;
 display:block;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /* Ombre avec 20% d'opacité */
}

section.section-albums .bouton-stylise{
  margin:3rem auto 1rem auto;
  display:block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /* Ombre avec 20% d'opacité */
 }

@media (max-width: 800px) {
  section.section-concept .phases {
    display: flex;
    flex-direction: column;
    margin:auto
  }

}

/* section idee */

.section-idee{
  background-image: linear-gradient(to right bottom, #EC1ED7, #0045E7); 
  color: white;
  padding: 2rem 0;
}
.section-idee h3{
  color: white;
}
section.section-idee .text {
  width: auto !important;
}

section.section-idee .image {
  max-width: 240px;
  margin: auto;
}

section.section-idee .image img {
  width: 100%;
}
section.section-idee a.unstyled {
  text-decoration: none;
  color: white;
}

section.section-idee img{
  color: white;

}

@media (min-width: 499px) {
  section.section-idee .image {
    max-width: unset;
    width: 38%;
    float: right;
  }
}

/* section nos travaux */

section.section-travaux .text {
  width: auto !important;
}

section.section-travaux .image {
  max-width: 240px;
  margin: auto;
}

section.section-travaux .image img {
  width: 100%;
}

section.section-travaux .bouton-stylise{
  margin:3rem auto auto auto;
    display:block;
  /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.30); Ombre avec 20% d'opacité */
  /* background: linear-gradient(to right, #065BDD, #0BB6FF); Dégradé linéaire */
}


@media (min-width: 499px) {
  section.section-travaux .image {
    max-width: unset;
    width: 38%;
    float: right;
  }
}

/* section vous aussi */

section.section-vousaussi .text {
  width: auto !important;
}

section.section-vousaussi .image {
  max-width: 240px;
  margin: auto;
}

section.section-vousaussi .image img {
  width: 100%;
}

@media (min-width: 700px) {
  section.section-vousaussi .image {
    max-width: unset;
    width: 35%;
    float: right;
  }
}
/* qui sommes-nous */
section.section-qui-sommes-nous .bouton-stylise{
  margin:3rem auto auto auto;
  display:block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /* Ombre avec 20% d'opacité */
 }
 

/* Footer styles */
footer {
  background-color: #F5F5F5;
  color: #242424;
}

.icon {
  width: 1em;
  /* Cela garantit que la taille de l'icône correspond à la taille du texte */
  height: auto;
  /* Cela garde le ratio de l'image */
  vertical-align: middle;
  /* Alignez l'icône avec le milieu du texte */
}

.legal-mentions {
  width: 100%;
  /* height: 2rem; */
  text-align: center;
  padding: 1rem 0;
  background-color: #EDEDED;
  margin: auto;
}

.legal-mentions p {
  margin: 0;
  font-size: 0.8rem;
}

/* Responsive styles */
@media (max-width: 720px) {
  .contact-info {
    font-size: 1rem;
  }

   .container-right {
    flex-direction: column-reverse;
  }

  .container-left {
    flex-direction: column; 
  } 
}

/* image carousel */

.image-carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  margin: 2rem 0 1rem 0;
  padding: 0.5rem 1.5rem;
}

.image-carousel img {
  padding: 0rem;
  margin: 0.5rem;

  max-width: 70vw;
  max-height: 350px;

  border: 1px solid rgb(233, 233, 233);
  border-radius: 0.75rem;
  box-shadow: 0px 3px 12px #00000017;
}

@media (max-width: 800px) {
  .image-carousel {
    padding: 0.5rem;
  }
}

@media (min-width: 1170px) {
  .image-carousel {
    margin-top: 4rem;
    justify-content: center;
  }
}

/* footer */
@media (min-width:601px) {
footer .text{
  width : 60%
}}