<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}}} -->
	<main class="wp-block-group">
		<!-- wp:group {"align":"full","style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}},"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|60"}},"backgroundColor":"tertiary","textColor":"foreground","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-foreground-color has-tertiary-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"4.5rem","lineHeight":"1.1"}}} -->
<h2 class="wp-block-heading has-text-align-center" style="font-size:4.5rem;line-height:1.1">Explorer une multitude de possibilités</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Plongez dans une expérience unique en son genre dans un paysage en constante évolution. <br>Chez Acme, nous ne nous contentons pas de proposer des solutions, nous repoussons les limites du possible.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"wrap","justifyContent":"center"}} -->
<div class="wp-block-group alignwide"><!-- wp:image {"id":10509,"width":"200px","height":"undefinedpx","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://dotcompatterns.files.wordpress.com/2023/05/5c210-logo_1-1.png?w=494" alt="" class="wp-image-10509" style="width:200px;height:undefinedpx" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":10510,"width":"200px","height":"undefinedpx","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://dotcompatterns.files.wordpress.com/2023/05/6d5df-logo_2.png?w=494" alt="" class="wp-image-10510" style="width:200px;height:undefinedpx" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":10511,"width":"200px","height":"undefinedpx","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://dotcompatterns.files.wordpress.com/2023/05/85363-logo_3.png?w=494" alt="" class="wp-image-10511" style="width:200px;height:undefinedpx" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":10512,"width":"200px","height":"undefinedpx","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://dotcompatterns.files.wordpress.com/2023/05/28ce4-logo_4-1.png?w=494" alt="" class="wp-image-10512" style="width:200px;height:undefinedpx" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":10513,"width":"200px","height":"undefinedpx","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://dotcompatterns.files.wordpress.com/2023/05/d1cab-logo_5.png?w=494" alt="" class="wp-image-10513" style="width:200px;height:undefinedpx" /></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
	</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->